<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
 <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <title>Book Recommendation System</title>
    <style>
      .form-group .required .control-label:after {
  content:"*";color:red;
}

    </style>


  </head>
  <body class="bg-secondary ">


<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
<div class="brand-navbar text-white">Book Recommendation System</div>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse   " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/recommend">Recommend</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container pt-4 mt-4 ">

  <div class="row pt-4 mt-4">
    <div class="col-md-12"><h2 class="text-white font-bold">Recommend System</h2>
    <form action="/recommend_books" method="post">
      <input name="user_input" type="text" class="form-control form-control-lg  " required><br>
      <input type="submit" class="btn btn-lg btn-warning"/>
    </form>
         </div>
      {% if data%}
        {% for i in data%}
       <div class="col-md-3">
      <div class="card m-4">
        <div class="card-body">
          <img  class="card-image-top pl-4 pt-2" src="{{i[2]}}"/>
          <p><span class="text-success text-bold">Book Name:</span>{{i[0]}}</p>
          <p> <span class="text-info">Author:</span>{{i[1]}}</p>
        </div>
      </div>
  </div>
      {% endfor%}

      {%   endif%}







</div>

</div>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>